<!DOCTYPE html>
<html>
<head>
<title>Sulav GAMER</title>
<style>
body{
background:black;
color:#00ff88;
font-family:monospace;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
.box{
border:2px solid #00ff88;
padding:30px;
width:300px;
text-align:center;
box-shadow:0 0 20px #00ff88;
}
input,button{
width:100%;
padding:10px;
margin-top:10px;
background:black;
color:#00ff88;
border:1px solid #00ff88;
}
</style>
</head>
<body>

<div class="box">
<h2>☠ Sulav GAMER</h2>
<p>SECURE TERMINAL</p>

<form method="post">
<input type="password" name="password" placeholder="ENTER PASSWORD">
<button>AUTHENTICATE</button>
</form>

</div>

</body>
</html>